body{
	text-align: center;
	font-family: 'Cinzel', serif; 
	background-color: #ffffff ;
	background-image:url("https://cdn.pixabay.com/photo/2017/04/23/14/23/nebula-2253941_960_720.jpg");
	background-position: center;
	background-size: 100% ;
}
nav ul li{
	display: inline;
	padding: 10px 0px;
	margin: 0px 10px;
}

#about{
	color:#ffffff;
	background-color: #7713db ;
}
#proj{
	color:#ffffff;
	background-color: #7713db ;	
}
#exp{
	color:#ffffff;
	background-color: #7713db ;
}
#contact{
	color:#ffffff;
	background-color: #7713db ;
}
h2,p{
	color:#ffffff;
}